<!-- TODO: add aria-labels -->
<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form #loginForm="ngForm" (submit)="onSubmit()">
            <p>
                <mat-form-field>
                    <mat-icon matPrefix class="my-icon">mail</mat-icon>
                    <input type="email" matInput placeholder="E-mail" name="email" ngModel required email>
                    <mat-error *ngIf="loginForm.touched && loginForm.invalid">
                        Please enter a valid e-mail address!
                    </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-icon matPrefix class="my-icon">lock</mat-icon>
                    <input [type]="isPasswordVisible ? 'text' : 'password'" matInput placeholder="Password" name="password" ngModel required>
                    <a matSuffix (click)="togglePasswordVisibility()">
                        <mat-icon class="clicable-icon">
                            {{ isPasswordVisible ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                    </a>
                    <mat-error *ngIf="loginForm.touched && loginForm.invalid">
                        Password is required!
                    </mat-error>
                </mat-form-field>
            </p>

            <p *ngIf="!isSuccesfullLogin" class="error">
                Incorrect e-mail or password
            </p>

            <div class="button">
                <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>
