<!-- TODO: add aria-labels -->
<mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
        <form>
            <p>
                <mat-form-field>
                    <mat-icon matPrefix class="my-icon">mail</mat-icon>
                    <input type="email" matInput placeholder="E-mail" formControlName="email" #email>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-icon matPrefix class="my-icon">lock</mat-icon>
                    <input type="password" matInput placeholder="Password" formControlName="password" #password>
                    <mat-icon matSuffix>visibility</mat-icon>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-icon matPrefix class="my-icon">lock</mat-icon>
                    <input type="password" matInput placeholder="Repeat Password" formControlName="rePassword">
                    <mat-icon matSuffix>visibility</mat-icon>
                </mat-form-field>
            </p>

            <p *ngIf="true" class="error">
                <!-- TODO: add error messages -->
                Custome error message
            </p>

            <div class="button">
                <button (click)="authService.register(email.value, password.value)" type="button"
                    mat-button>Register</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>