<!-- TODO: add aria-labels -->
<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form>
            <p>
                <mat-form-field>
                    <mat-icon matPrefix class="my-icon">mail</mat-icon>
                    <input type="email" matInput placeholder="E-mail" formControlName="email">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-icon matPrefix class="my-icon">lock</mat-icon>
                    <input type="password" matInput placeholder="Password" formControlName="password">
                    <mat-icon matSuffix>visibility</mat-icon>
                </mat-form-field>
            </p>

            <p *ngIf="true" class="error">
                Incorrect e-mail or password
            </p>

            <div class="button">
                <button type="submit" mat-button>Login</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>