<mat-toolbar class="header">
    <div class="header-home">
        <button mat-button class="header-menu-button" aria-label="Button to open home page">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Quizzio
        </button>
    </div>

    <span class="example-spacer"></span>

    <div class="header-nav">
        <button mat-button class="header-menu-button" aria-label="Button to open quizz page">
            <mat-icon>extension</mat-icon>
            Quizzes
        </button>

        <button mat-button class="header-menu-button" aria-label="Button to open quizz page">
            <mat-icon>edit_note</mat-icon>
            Create a quizz
        </button>

        <button mat-button class="header-menu-button" aria-label="Button to open profile page">
            <mat-icon>person</mat-icon>
            Profile
        </button>

        <button mat-button class="header-menu-button" aria-label="Button to open login page">
            <mat-icon>login</mat-icon>
            Login
        </button>

        <button mat-button class="header-menu-button" aria-label="Button to logout">
            <mat-icon>logout</mat-icon>
            Logout
        </button>

        <button mat-button class="header-menu-button" aria-label="Button to open register page">
            <mat-icon>how_to_reg</mat-icon>
            Register
        </button>

    </div>

</mat-toolbar>