<mat-toolbar class="header">
    <div class="header-home">
        <a routerLink="/" mat-button class="header-menu-button" aria-label="Button to open home page">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Quizzio
        </a>
    </div>

    <span class="example-spacer"></span>

    <div class="header-nav">
        <a routerLink="/" mat-button class="header-menu-button" aria-label="Button to open quizz page">
            <mat-icon>extension</mat-icon>
            Quizzes
        </a>

        <a *ngIf="isLoggedIn" routerLink="/add-quizz" mat-button class="header-menu-button" aria-label="Button to open quizz page">
            <mat-icon>edit_note</mat-icon>
            Create a quizz
        </a>

        <a *ngIf="isLoggedIn" routerLink="/profile" mat-button class="header-menu-button" aria-label="Button to open profile page">
            <mat-icon>person</mat-icon>
            Profile
        </a>

        <a routerLink="/login" mat-button class="header-menu-button" aria-label="Button to open login page">
            <mat-icon>login</mat-icon>
            Login
        </a>

        <a *ngIf="isLoggedIn" routerLink="/logout" mat-button class="header-menu-button" aria-label="Button to logout">
            <mat-icon>logout</mat-icon>
            Logout
        </a>

        <a routerLink="/register" mat-button class="header-menu-button" aria-label="Button to open register page">
            <mat-icon>how_to_reg</mat-icon>
            Register
        </a>

    </div>

</mat-toolbar>