h1, h2, h3, h4, h5, h6{
    text-align: center;
}


.mat-action-row {
    padding: 0;
}

.wrapper {
    height: auto !important;
}

.mat-radio-button~.mat-radio-button{
    padding-left: 2em;
}

.true-false-buttons {
    padding-left: 1em;
}

mat-form-field {
    width: 100%;
}

button.submit{
    display: block;
    margin: auto;
    margin-top: 1em;
    text-align: center;
}



