<h2>Quizz name: {{quiz?.title}}</h2>
<h4>Quizz topic: {{quiz?.topic}}</h4>

<form (ngSubmit)="submitQuiz()" id="myForm">
    <ng-container>
        <mat-accordion *ngFor="let question of quiz?.questions; let indexOfElement=index;">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Question {{indexOfElement + 1}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- Display True/Fase Question -->


                <ng-container *ngIf="!isInEditMode">
                    <p>
                        Question: {{question.question}}
                    </p>
                </ng-container>

                <ng-container *ngIf="isInEditMode">
                    <p>
                        <mat-form-field appearance="fill">
                            <mat-label>Question</mat-label>
                            <mat-icon matPrefix>help_outline</mat-icon>
                            <input ngModel required minlength="10" matInput placeholder="Type your question here"
                                autocomplete="off">
                            <mat-error>The Question is required and should be minimum 10 characters long</mat-error>
                        </mat-form-field>
                    </p>
                    <p>Select the correct answer for this question.</p>
                </ng-container>

                <mat-radio-group aria-label="Select an option" class="true-false-buttons" name="{{indexOfElement}}">
                    <mat-radio-button value="true" color="accent">True</mat-radio-button>
                    <mat-radio-button value="false" color="accent">False</mat-radio-button>
                </mat-radio-group>


                <mat-action-row>
                    <button (click)="toggleEditMode()" mat-button color="primary">Edit</button>
                    <button (click)="deleteQuestion(indexOfElement)" mat-button color="primary">Delete</button>
                </mat-action-row>
                <!-- Display True/Fase Question -->

            </mat-expansion-panel>
        </mat-accordion>
        <button type="submit" mat-raised-button color="primary">Submit quiz</button>
    </ng-container>
</form>