<ng-container *ngIf="!isInEditMode" >
    <h2>Quizz name: {{quiz?.title}}</h2>
    <h4>Quizz topic: {{quiz?.topic}}</h4>
</ng-container>

<form *ngIf="quiz?.questions" id="myForm">
    <ng-container>
        <div *ngIf="quiz.questions.length > 0" class="expand-buttons">
            <button mat-button type="button" color="primary" (click)="accordion.openAll()">Expand All</button>
            <button mat-button type="button" color="primary" (click)="accordion.closeAll()">Collapse All</button>
        </div>

        <mat-accordion multi>
            <mat-expansion-panel *ngFor="let question of quiz?.questions; let indexOfElement=index;" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Question {{indexOfElement + 1}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- Display True/Fase Question -->
                <!-- VIEW MODE -->
                <ng-container *ngIf="!isInEditMode">
                    <p>
                        Question: {{question.question}}
                    </p>
                    <mat-radio-group aria-label="Select an option" class="true-false-buttons" name="{{indexOfElement}}">
                        <mat-radio-button value="true" color="accent">True</mat-radio-button>
                        <mat-radio-button value="false" color="accent">False</mat-radio-button>
                    </mat-radio-group>
                </ng-container>
                <!-- VIEW MODE -->

                <!-- EDIT MODE -->
                <ng-container *ngIf="isInEditMode">

                    <form #trueFalseQuestion="ngForm">
                        <p>
                            <mat-form-field appearance="fill">
                                <mat-label>Question</mat-label>
                                <mat-icon matPrefix>help_outline</mat-icon>
                                <input [ngModel]="question.question" required minlength="10" name="question" matInput
                                    placeholder="Type your question here" autocomplete="off">

                                <mat-error>The Question is required and should be minimum 10 characters long</mat-error>
                            </mat-form-field>
                        </p>
                        <p>Select the correct answer for this question.</p>
                        <p>
                            <mat-radio-group ngModel required name={{indexOfElement}} aria-label="Select an option" (change)="radioChange($event)"
                                class="true-false-buttons">
                                
                                <mat-radio-button [checked]="question.correctAnswers[0] == 'true'" value="true" color="accent">True</mat-radio-button>
                                <mat-radio-button [checked]="question.correctAnswers[0] == 'false'" value="false" color="accent">False</mat-radio-button>

                                <mat-error
                                    *ngIf="trueFalseQuestion.controls[indexOfElement].touched && trueFalseQuestion.controls[indexOfElement].invalid">
                                    Please select the correct answer!</mat-error>
                            </mat-radio-group>
                        </p>
                    </form>
                    <mat-action-row>
                        <button type="button" (click)="updateQuestion(indexOfElement)" mat-button color="primary">Update question</button>
                        <button type="button" (click)="deleteQuestion(indexOfElement)" mat-button
                            color="primary">Delete</button>
                    </mat-action-row>
                </ng-container>
                <!-- EDIT MODE -->
                <!-- Display True/Fase Question -->

            </mat-expansion-panel>
        </mat-accordion>
        <button (click)="submitQuiz()" *ngIf="!isInEditMode" type="button" class="submit" mat-raised-button color="primary">Submit quiz</button>
    </ng-container>
</form>