<!-- TODO: add aria-labels -->
<mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field>
                    <mat-icon matPrefix class="my-icon">mail</mat-icon>
                    <input formControlName="email" matInput type="email" placeholder="E-mail" name="email">
                    <mat-error>
                        Please enter a valid e-mail address!
                    </mat-error>
                </mat-form-field>
            </p>
            <ng-container formGroupName="passwords">
                <p>
                    <mat-form-field>
                        <mat-icon matPrefix class="my-icon">lock</mat-icon>
                        <input formControlName="password" [type]="isPasswordVisible ? 'text' : 'password'" matInput
                            placeholder="Password" name="password">
                        <a matSuffix (click)="togglePasswordVisibility()" class="clicable-icon">
                            <mat-icon> {{ isPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </a>
    
                    </mat-form-field>
                    <app-custom-progress-bar 
                    [barWidth] = "passwordStrenghtMeter"
                    [barColor]="passwordStrenghtColor" 
                    [strenghtNote]="passwordStrenghtNote">
                    </app-custom-progress-bar>
    
                </p>
    
                <p>
                    <mat-form-field>
                        <mat-icon matPrefix class="my-icon">lock</mat-icon>
                        <input formControlName="rePassword" [type]="isRePasswordVisible ? 'text' : 'password'" matInput
                            placeholder="Repeat Password" name="rePassword">
                        <a matSuffix (click)="toggleRePasswordVisibility()" class="clicable-icon">
                            <mat-icon> {{ isRePasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </a>
                        <mat-error>
                            {{ 
                                passwordsGroup.controls['password'].errors?.['required'] || passwordsGroup.controls['rePassword'].errors?.['required'] 
                                ? "Password and Repeat password can not be empty!" : null}}
                        </mat-error>

                        <mat-error *ngIf="!passwordsGroup.controls['password'].errors?.['required'] && !passwordsGroup.controls['rePassword'].errors?.['required']">
                            {{ passwordsGroup.controls['rePassword'].errors?.['stringsMismatch']
                            ? "Password and Repeat password don't match" : null}}
                        </mat-error>
                    </mat-form-field>
                </p>

            </ng-container>


            <p *ngIf="!isSuccesfullRegister" class="error">
                Unsuccesfull registration. Please review your details and try again!
            </p>

            <div class="button">
                <button type="submit" mat-raised-button color="primary"
                    [disabled]="!registerForm.valid">Register</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>