.quizz-data-container {
    display: flex;
    justify-content: star;
}

.quizz-data-section {
    width: 50%;
    padding: 1em;
}

mat-form-field {
    width: 100%;
}

.mat-radio-button~.mat-radio-button,
button {
    margin-left: 2em;
}

.true-false-buttons {
    padding-left: 1em;
}