<div class="quizz-data-container">

    <!-- BASINC INFO SECTION -->
    <mat-card class="quizz-data-section">
        <form #basicQuizInfo="ngForm" (ngSubmit)="saveQuiz(basicQuizInfo)">
            <mat-card-title>Add a quizz</mat-card-title>
            <mat-card-content>
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>Quizz Title</mat-label>
                        <mat-icon matPrefix>sentiment_very_satisfied</mat-icon>
                        <input ngModel required minlength="4" maxlength="80" name="title" matInput
                            placeholder="Add quizz title here" autocomplete="off">
                        <mat-hint>This will be the title of your quiz</mat-hint>
                        <mat-error>Title is required and should be between 3 and 80 characters long</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>Quizz Topic</mat-label>
                        <mat-icon matPrefix>sentiment_very_satisfied</mat-icon>
                        <input ngModel required minlength="4" maxlength="40" name="topic" matInput
                            placeholder="Add quizz topic here" autocomplete="off">
                        <mat-hint>This will be the topic of your quiz</mat-hint>
                        <mat-error>Title is required and should be between 3 and 40 characters long</mat-error>
                    </mat-form-field>
                </p>
            </mat-card-content>

            <!-- <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!basicQuizInfo.valid" type="submit">
                    Save quiz
                </button>
            </mat-card-actions> -->

        </form>
    </mat-card>


    <!-- QUESTIONS SECTION -->
    <mat-tab-group mat-align-tabs="start" class="quizz-data-section">

        <!-- Add True/False Question -->
        <mat-tab label="True/False ">
            <form #trueFalseQuestion="ngForm">
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>Question</mat-label>
                        <mat-icon matPrefix>help_outline</mat-icon>
                        <input ngModel required minlength="10" name="question" matInput
                            placeholder="Type your question here" autocomplete="off">
                        <mat-error>The Question is required and should be minimum 10 characters long</mat-error>
                    </mat-form-field>
                </p>
                <p>Select the correct answer for this question.</p>
                <p>
                    <mat-radio-group ngModel required name="radioControl" aria-label="Select an option"
                        class="true-false-buttons">
                        <mat-radio-button value="true" color="accent">True</mat-radio-button>
                        <mat-radio-button value="false" color="accent">False</mat-radio-button>
                        <mat-error *ngIf="trueFalseQuestion.controls['radioControl']?.touched && trueFalseQuestion.controls['radioControl'].invalid">Please select the correct answer!</mat-error>
                    </mat-radio-group>
                </p>
            </form>
            <button mat-raised-button color="primary" [disabled]="true && !trueFalseQuestion.valid"
                (click)="addTrueFalseQuestion(trueFalseQuestion)">Add
                questions</button>
        </mat-tab>
        <!-- Add True/False Question -->

        <!-- TODO: Expand Functionality with different type questions -->
        <!-- <mat-tab label="Single answer">
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Question</mat-label>
                    <mat-icon matPrefix>help_outline</mat-icon>
                    <input matInput placeholder="Type your question here" autocomplete="off" class="correct">
                    <mat-hint>Some usefull info</mat-hint>
                </mat-form-field>
            </p>

            <mat-form-field appearance="fill">
                <mat-label>Correct answer</mat-label>
                <mat-icon matPrefix>done</mat-icon>
                <input matInput placeholder="Type the correct answer here" autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Distractor</mat-label>
                <mat-icon matPrefix>close</mat-icon>
                <input matInput placeholder="Type a distractor here" autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Distractor</mat-label>
                <mat-icon matPrefix>close</mat-icon>
                <input matInput placeholder="Type a distractor here" autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Distractor</mat-label>
                <mat-icon matPrefix>close</mat-icon>
                <input matInput placeholder="Type a distractor here" autocomplete="off">
            </mat-form-field>

            <button mat-raised-button color="primary">Add Distractor</button>
            <button mat-raised-button color="primary">Add questions</button>

        </mat-tab> -->

        <!-- <mat-tab label="Multiple choices">
        </mat-tab> -->

    </mat-tab-group>

</div>
<button class="button-save" mat-raised-button color="primary" [disabled]="!basicQuizInfo.valid" type="button" (click)="saveQuiz(basicQuizInfo)">
    Save quiz
</button>

<app-quiz-details [quiz]="newQuizz" [isInEditMode]="isInEditMode"></app-quiz-details>